@model CargaCapacitacion.ViewModels.FichadaViewModel

@{
    ViewData["Title"] = "Create";

}

<h1 style="color: red;">Capacitaciones</h1>

<h4>Carga de asistencias - Usuario : @ViewBag.usuario</h4>
<h4>userId : @ViewBag.userId</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-5">
                    <label asp-for="Curso" class="control-label"></label>
                    <select asp-for="Curso" name="Curso" id="curso" class="form-control" asp-items="@(new SelectList(Model.Cursos, "Id" , "Curso"))">
                    </select>
                    <span asp-validation-for="Curso" class="text-danger"></span>
                </div>
                <div class="form-group col-5">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input id="datepicker" asp-for="Fecha" type="text" value="@ViewBag.FechaHoy" class="form-control" placeholder="Fecha" aria-label="Fecha" aria-describedby="basic-addon1">
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>

                <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
                <script>
                    $(function () {
                        $("#datepicker").datepicker({
                            dateFormat: "yy-mm-dd"
                        });
                    });
                </script>
                <div class="form-group col-2">
                    <input type="submit" value="Enviar" class="btn btn-danger" />
                </div>
            </div>
            <label asp-for="Empleados" class="control-label"></label>
            <div style="width: 100%" class="row">
                @for (var i = 0; i < Model.Empleados.Count(); i++)
                {
                    <input type="hidden" asp-for="@Model.Empleados[i].Legajo" />
                    <input type="hidden" asp-for="@Model.Empleados[i].Nombre" />
                    <input type="hidden" asp-for="@Model.Empleados[i].Apellido" />
                    
                    <div class="col-4 row">
                        <input type="checkbox" asp-for="@Model.Empleados[i].IsChecked" class="col-1" />
                        <p class="col-11" style="font-size:0.7em">@Model.Empleados[i].Nombre @Model.Empleados[i].Apellido (@Model.Empleados[i].Legajo)</p>
                    </div>
                }
                <span asp-validation-for="Empleados" class="text-danger"></span>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}
